.github/**
.vscode/**
.vscode-test/**
node_modules
out/**
dist/test/**
dist/**/*.map
src/**
screenshots/**
examples/**
test/**
docs/**

.gitignore
.editorconfig
.eslintrc.js
.eslintignore
package-lock.json
tsconfig.json
tslint.json
webpack.config.js
renovate.json

!node_modules/@wenyanlang/cli/index.min.js
